/* Write your CSS here */
* {
  margin: 0;
}
.bg-container {
  background: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 3rem;
  font-weight: bold;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  margin: 10px 50px;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  color: #dd1264;
  font-weight: bold;
}
.name {
  background-color: #fddddb;
  padding: 20px;
  font-family: 'Roboto';
  font-size: 2.4rem;
  color: #000000;
  height: 100px;
  width: 300px;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}